<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/media/Item_images/Ubu_logo.png">
    <title>เเก้ไขอุปกรณ์</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin/edit.css' %}">
    <script type="text/javascript" src="{% static 'javascript/admin/time.js' %}"></script>
</head>
<body>
    <div class="header">
        <div class="upper-layer"></div>
    </div>
    <div class="lower-layer">
        <a href="/check-admin/" class="header-link">
            <img src="https://www.ubu.ac.th/images/Ubu_logo.png" alt="Logo" class="logo">
            <div class="university-names">
                <div class="university-name">มหาวิทยาลัยอุบลราชธานี</div>
                <div class="sub-university-name">Ubon Ratchathani University</div>
            </div>
        </a>
        <div class="user">
            {% if user.is_authenticated %}
                {% if user.is_staff or user.is_superuser %}
                    <p>ADMIN</p>
                {% else %}
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                {% endif %}
            {% endif %}
            <p id="currentTime"></p>
        </div>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <a href="/check-admin/">กลับสู่หน้าหลัก</a>
            <a href="/create/">เพิ่มอุปกรณ์กีฬา</a>
            <a href="/approve-admin/">ตารางอนุมัติการยืม</a>
            <a href="/return-item/">ตารางยืนยันการคืน</a>
            <a href="/noreturn-admin/">ตารางยังไม่คืนของ</a>
            <a href="/dashboard/">ข้อมูลรายการยืม</a>
            <a href="/logout/">ออกจากระบบ</a>
        </div>
        <div class="content">
            <div class="container">
                {% if it.image %}
                <img src="{{ it.image.url }}" alt="Current Image" class="item-image"/>
                {% endif %}
                <div class="form-container">
                    <div class="form-fields">
                        <div class="form-header">
                            <h1>แก้ไขอุปกรณ์กีฬา</h1>
                        </div>
                        <form action="/edit/{{it.id}}/" method="POST" enctype="multipart/form-data">
                            {% csrf_token%}
                            <div>
                                <label for="image">รูป</label>
                                <input type="file" name="image" id="image">
                            </div>
                            <div class="input-group">
                                <label for="name">ชื่อ</label>
                                <input type="text" id="name" name="name" value="{{ form.instance.name }}">
                            </div>
                            <div class="input-group">
                                <label for="description">คำบรรยาย</label>
                                <input type="text" id="description" name="description" value="{{ form.instance.description }}">
                            </div>
                            <div class="input-group">
                                <label for="quantity">จำนวนอุปกรณ์</label>
                                <input type="number" id="quantity" name="quantity" value="{{ form.instance.quantity }}">
                            </div>
                            <div class="input-group">
                                <label for="max-borrow-time">กำหนดเวลายืม (นาที)</label>
                                <input type="number" id="max-borrow-time" name="max_borrow_time" value="{{ form.instance.max_borrow_time }}">
                            </div>
                            <button type="submit" class="save-button">บันทึก</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>