<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติการยืม</title>
    <link rel="icon" type="image/x-icon" href="/media/Item_images/Ubu_logo.png">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/history.css' %}">
    <script type="text/javascript" src="{% static 'javascript/user/time.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/user/menu-icon.js' %}"></script>
</head>
<body>
    <div class="header">
        <div class="upper-layer"></div>
    </div>
    <div class="lower-layer">
        <a href="/check-cancels/" class="header-link">
            <img src="https://www.ubu.ac.th/images/Ubu_logo.png" alt="Logo" class="logo">
            <div class="university-names">
                <div class="university-name">มหาวิทยาลัยอุบลราชธานี</div>
                <div class="sub-university-name">Ubon Ratchathani University</div>
            </div>
        </a>
        <div class="user">
            {% if user.is_authenticated %}
                {% if user.is_staff or user.is_superuser %}
                    <p>ADMIN</p>
                {% else %}
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                {% endif %}
            {% endif %}
            <p id="currentTime"></p>
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="dropdown-menu" id="dropdownMenu">
        <a href="/check-cancels/">กลับไปหน้าหลัก</a>
        <a href="{% url 'edit-profile' %}">เเก้ไขหน้าโปรไฟล์</a>
        <a href="/history/">ประวัติการยืม</a>
        <a href="/contact/">ติดต่อเจ้าหน้าที่</a>
        <a href="/rules/">กฎระเบียบการยืม</a>
        <a href="/logout/">ออกจากระบบ</a>
    </div>
    <div class="container">
        <h2>ประวัติการยืม</h2>
        {% for record in borrow_records %}
            <div class="card">
                <div class="item-info">
                    <img src="{{ record.item.image.url }}" alt="{{ record.item.name }}" class="item-img">
                    <div class="item-details">
                        <span class="name">ชื่ออุปกรณ์: {{ record.item.name }}</span>
                        <span class="quantity">จำนวนที่ยืม: {{ record.quantity }}</span>
                        <span class="date">วันที่ยืม: {{ record.borrow_date|date:"d/m/Y H:i" }}</span>
                        <span class="time">เวลาที่ต้องคืน: {{ record.return_date|date:"d/m/Y H:i" }}</span>
                    </div>
                    <div class="status-and-button">
                        <span class="status 
                                    {% if record.status == 'waiting' %}status-waiting
                                    {% elif record.status == 'borrowing' %}status-borrowing
                                    {% elif record.status == 'returned' %}status-returned
                                    {% elif record.status == 'cancel' %}status-cancel
                                    {% elif record.status == 'notreturn' %}status-noreturn
                                    {% endif %}">
                            {{ record.get_status_display }}
                        </span>
                        {% if record.status == 'waiting' %}
                            <a href="{% url 'cancel_borrow' record.id %}" class="cancel-button">ยกเลิก</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>ไม่มีประวัติการยืม</p>
        {% endfor %}
    </div>
</body>
</html>